input {
  border: 1px solid #818080;
  padding: 0.25rlh;
  border-radius: 6px;
  box-shadow: 0px 1px 2px #0001;
  background-color: light-dark(none, #707070);
}

fieldset {
  border-color: #818080;
  padding: 2rem;
  border-radius: 1rem;
  background-color: light-dark(#cacfb2, #b0b0b0);
}

#beskrivelse {
  width: 100%; /* gør feltet lige så bredt som containeren */
  min-height: 150px; /* gør feltet højere */
  padding: 0.25rlh;
  border-radius: 6px;
  box-shadow: 0px 1px 2px #0001;
}

select#region {
  border: 1px solid #818080;
}
select#region::picker-icon {
  color: #818080;
}

button {
  border: none;
  background: Canvas;
  color: CanvasText;
  border: 1px solid currentColor;
  text-box: cap alphabetic;
  padding: 1cap;
  border-radius: 5px;
  display: block;
  cursor: pointer;
  margin-block: 1.5rlh;
}
/* Hover-styles */
button:hover {
  background: light-dark(#f4f3f3, #6c6b6b);
}
/* Active-styles (imens man klikker) */
button:active {
  scale: 0.98;
}

.error-message {
  color: darkred;
}

/* Form layout */
form {
  display: grid;
  gap: 1rlh;
  padding: 1rlh;

  .form-group {
    display: grid;
    gap: 0.1rlh;
  }

  label:has(input) {
    display: flex;
    align-items: center;
    gap: 0.25rlh;
    justify-self: start;
  }
}

/* Pseudo-classes */
:focus-visible {
  /* virker til både knapper og input-felter, select, textarea, links mm. */
  outline: 2px solid slateblue;
  outline-offset: 1px;
}

/* Validering */
/* Skjuler fejlmeddelelsen som standard */
.error-message {
  display: none;
}
.form-group:has(:required) {
  label::after {
    content: " *";
    color: red;
  }
}
/* Automatisk rød stjerne for required felter, undtagen radio-knappernes labels */
.required-question::after {
  content: " *";
  color: red;
}

/* Rød kant omkring input-feltet, hvis det er ugyldigt */
.form-group:has(:user-invalid) {
  input,
  textarea,
  .region,
  select {
    outline: 3px solid #f005;
    border-color: darkred;
  }
  /* Viser fejlmeddelelsen, hvis feltet er ugyldigt */
  .error-message {
    display: block;
  }
}
