input {
  border: 1px solid #ccc;
  padding: 0.25rlh;
  border-radius: 6px;
  box-shadow: 0px 1px 2px #0001;
}

#beskrivelse {
  width: 100%; /* gør feltet lige så bredt som containeren */
  min-height: 150px; /* gør feltet højere */
  padding: 0.25rlh;
  border-radius: 6px;
  box-shadow: 0px 1px 2px #0001;
}

button {
  border: 1px solid #000;
  background-color: #000;
  color: #fff;
  border-radius: 6px;
  padding: 0.25rlh 0.5rlh;
  cursor: pointer;
}

.error-message {
  color: darkred;
}

/* Form layout */
form {
  display: grid;
  gap: 1rlh;
  padding: 1rlh;

  .form-group {
    display: grid;
    gap: 0.1rlh;
  }

  label:has(input) {
    display: flex;
    align-items: center;
    gap: 0.25rlh;
    justify-self: start;
  }
}

/* Pseudo-classes */
:focus-visible {
  /* virker til både knapper og input-felter, select, textarea, links mm. */
  outline: 2px solid slateblue;
  outline-offset: 1px;
}
/* Hover-styles */
button:hover {
  background: #222;
}
/* Active-styles (imens man klikker) */
button:active {
  scale: 0.98;
}

/* Validering */
/* Skjuler fejlmeddelelsen som standard */
.error-message {
  display: none;
}
.form-group:has(:required) {
  label::after {
    content: " *";
    color: red;
  }
}
/* Automatisk rød stjerne for required felter, undtagen radio-knappernes labels */
.required-question::after {
  content: " *";
  color: red;
}

/* Rød kant omkring input-feltet, hvis det er ugyldigt */
.form-group:has(:user-invalid) {
  input,
  textarea,
  .region,
  select {
    outline: 3px solid #f005;
    border-color: darkred;
  }
  /* Viser fejlmeddelelsen, hvis feltet er ugyldigt */
  .error-message {
    display: block;
  }
}
